:root {

    --font: "Be Vietnam Pro", sans-serif;

    --primary: #4036A9;
    --grey: #CDD5E0;
    --white: #FFFFFF;
    --black: #111729;

    --gradient: linear-gradient(139deg, rgba(174, 45, 93, 0.88) 0%, #7429C6 29%, #46208F 68%, rgba(42, 77, 208, 0.94) 100%, #2A4DD0 100%);
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    display: flex;
    justify-content: center;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-image: url(/img/bg-image.svg);
    background-repeat: no-repeat;
    font-family: var(--font);
    color: var(--white);
    font-size: 1.6rem;
    width: 128rem;
    height: 114.8rem;
    margin: 0;
}

@media (min-width: 1280px){
    body{
        background-size: cover;
    }
}

.logo{
    padding: 2rem 0 0 7.2rem;
}

.container{
    width: 81rem;
    margin: 0 auto;
}

.header{
    text-align: center;
    margin-bottom: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title{
    margin: 0;
    margin-top: 4.4rem;
    font-size: 6.4rem;
    max-width: 57.7rem;
    height: 16rem;
    font-weight: 700;
    line-height: 8rem;
}

.header__description{
    margin: 0;
    margin-top: 1.6rem;
    max-width: 64.1rem;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.8rem;
}

.form{
    padding: 3.2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 1.8rem;
    row-gap: 2.4rem;
    background: rgba(255, 255, 255, 0.20); 
    box-shadow: 0px 30px 100px rgba(17, 23, 41, 0.15); border-radius: 2.4rem;
}

.field{
    display: flex;
    flex-direction: column;
    position: relative;
}

.field__label{
    color: var(--white);
    margin-bottom: .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--font);
}

.field__input{
    height: 6.8rem;
    border-radius: 1.6rem;
    border: none;
    padding: 2.4rem 1.8rem;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0px 30px 100px rgba(17, 23, 41, 0.05);
    font-family: var(--font);
    appearance: none
}

.field__input::placeholder{
    color: var(--grey);
}

.message{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.textarea{
    height: 20.6rem;
    border-radius: 1.6rem;
    background: #F8FAFC; 
    box-shadow: 0px 30px 100px rgba(17, 23, 41, 0.05);
}

.contact{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.buton{
    padding: 2.4rem;
    border-radius: 1.6rem;
    font-size: 2rem;
    color: var(--primary);
    background-color: #FFFFFF;
    border: none;
    font-weight: 700;
    height: 7.3rem;
}

@media (min-width: 768px) and (max-width: 1279px){
    body{
        width: 1024px;
        height: 1097px;
    }
    .container{
        margin: 0 auto;
        width: 96rem;
    }
    .logo{
        padding-left: 3.2rem;
    }
    .header__title{
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 6rem;
        letter-spacing: -0.48px;
        height: auto;
    }
    .header__description{
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: -0.2px;
        margin-top: 1.6rem;
    }
    .field__label{
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
    }
    .form{
        width: 96rem;
        height: 61.7rem;
    }
}

@media (max-width: 640px){
    body{
        width: 64rem;
        height: 136.4rem;
    }
    .container{
        width: 59.2rem;
    }
    .logo{
        padding: 2.4rem;
    }
    .header__title{
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 6rem;
        height: 12rem;
    }
    .header__description{
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        width: 46.6rem;
        height: 5.9rem;
    }
    .form{
        display: flex;
        flex-direction: column;
    }
}